.banner {
  width: 100%;
  height: 70vh;
  background: url("./../../statics/images/alexander-andrews-BX4Q0gojWAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner form {
  width: 30%;
  padding: 30px 10px;
  background: white;
  position: absolute;
  margin: 10rem 0 0 2rem;
}

.banner form div {
  position: relative;
}

.banner form div .icon {
  position: absolute;
  top: 15%;
  right: 2%;
}

@media screen and (max-width: 720px) {
  .banner{
    height: 100vh;
    background-attachment: initial;
    background-image: url('./../../statics/images/earpiece.png');
  }
  .banner form {
    opacity: .8;
    margin: 7rem 0 0 2rem;
    width: 80% !important;
  }
}
